.item {
    display: flex;
    justify-content: space-between;
    width: 190px;

    margin-left: 10px;
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 220px;

    margin-left: 10px;
}

.container {
}

.thead {
}

.nameCol {
}

.ageCol {
}