.item {
    display: flex;

    width:100%;
padding: 5px 0;
border-bottom: 1px solid gray;
}

.item:last-of-type {

}

.users {
    margin-top: 20px;
    width: 500px;

}
.tr{
    display: flex;
    padding: 5px 0;
}
.nameCol, .ageCol{
    flex: 1;
    padding-left: 5px
}
.buttonsContainer {
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: 5px 104px;
    gap: 5px;


    width: 101px;
    height: 30px;
    left: 307px;
    top: 996px;


    border-radius: 3px;
}

.container {


}

.thead {
    width: 606px;
    height: 1px;
    left: 70px;
    top: 380px;
    font-weight: 600;
    background: #E5E5E5;
}

.nameCol {
    width: 62px;
    height: 16px;
    left: 87px;
    top: 1055px;

    font-family: 'Roboto';
    font-style: normal;

    font-size: 14px;
    line-height: 16px;
    /*display: flex;*/
    align-items: center;

    color: #000000;
}

.ageCol {
    width: 25px;
    height: 16px;
    left: 367px;
    top: 1055px;
    font-weight: 600;
    font-family: 'Roboto';
    font-style: normal;

    font-size: 14px;
    line-height: 16px;

    align-items: center;

    color: #000000;
}