.greetingForm {

    width: 100%;
    flex-wrap: wrap;
    margin: 10px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
}

.error {
    font-family: sans-serif;
    font-size: 10pt;
    color:red;
}

.input {
    display: flex;
    flex-direction: row;
    padding: 8px 267px 8px 12px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 100%;

}

.input:focus {
    border: 1px solid #c320da;
    border-radius: 5px;
}

.errorInput {
    display: flex;
    flex-direction: row;
    padding: 8px 267px 8px 12px;
    border: 1px solid red;
    border-radius: 5px;
    height: 100%;
}

.button {
    color: #fff;
    background:  #0066CC;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 24px;
}

.button:focus {

}

.button:active {
    background: aqua;
}

.button:disabled {
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}

.text {

    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    border-radius: 10px;

    padding: 15px;
    margin: 0 auto;

    color: rgba(0, 0, 0, 0.5);
}

.greeting {

padding: 20px;
}
